a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.pages {
  color: #2e3840;
  margin: 0 auto;
  width: 50vw;
  font-family: Roboto, sans-serif, serif;
}

html {
  scroll-behavior: smooth;
}
